@import "normalize";
@import "compass";
@import "susy";
@import "pygment";
@include border-box-sizing;

$susy : (
	columns: 12,
	global-box-sizing: border-box,
	debug: (image: hide),
);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	font-family: Oxygen, Helvetica, Arial, sans-serif;
	line-height: 160%;
	background-color: #e5f0f1;
}

.entry-content p {
	letter-spacing: .025em;
}

.wrap {
	padding: 12px;
	@include clearfix;
	@media (min-width: 980px){
		@include container(1140px);
	}
}

header#banner {
background-color: #fff;
	@include clearfix;
}

/* unvisited link */
a:link {
    color: #264cf1;
}

/* visited link */
a:visited {
    color: #264cf1;
}

/* mouse over link */
a:hover {
    color: #26a5f1;
}

/* selected link */
a:active {
    color: #0000FF;
}

.content {
	@include span(12 of 12);
	@include clearfix;
	margin-top: 1em;

	@media (min-width: 768px){
		@include span(12 of 12);
	}
}

ol#post-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	@media (min-width: 768px){
		padding: 12px 1rem;
		margin: 4px 4px;
	}
	
}

ol#post-list li {
	margin-bottom: 1em;
}

#post-list article {
	padding: 1em;
	background-color: #fff;
	@include border-radius(8px);
}

#post-list article {
	/* unvisited link */
	a:link {
	    color: #26a5f1;
	}

	/* visited link */
	a:visited {
	    color: #26a5f1;
	}

	/* mouse over link */
	a:hover {
	    color: #26a5f1;
	}

	/* selected link */
	a:active {
	    color: #0000FF;
	}
}

h1 {
	font-size: 2.4em;
	padding: 12px 0;
	color: #000;
	margin: 4px;
}

h2 {
	font-size: 2em;
	padding: 12px 0;
	color: #000;
	margin: 4px;
}

h2 {
	font-size: 1.8em;
	padding: 12px 0;
	color: #000;
	margin: 4px;
}

h4 {
	font-size: 1.4em;
	padding: 12px 0;
	color: #000;
	margin: 4px;
}

footer.post-info {
	border-bottom: 1px solid #b6dce0;
	display: inline;
	padding: 2px;
}

abbr[title] {
  border-bottom: none;
}

//banner header styles
header#banner {
	h1 {
	font-size: 2.8em;
	font-family: Pacifico, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 4px;
	}

	h1 a {
		text-decoration: none;
	}

	h4 {
		font-size: 1.2em;
		color: #ad4929;
		margin: 8px 0;
		padding: 8px;
	}
}

section.article-body {
	background-color: #fff;
	padding: 12px;
	margin: 6px;
}


//main menu
nav#menu {
	background-color: #a27bfe;
	@include border-radius(8px);

	ul {
		padding: 12px 6px;
		margin: 0 12px;
	}

	ul li {
		display: inline;
	}

	ul li>a {
		text-decoration: none;
		color: #fff;
		padding: 12px 9px;
		border-right: 1px solid #7d5fc3;
	}

	ul li>a:hover {
		color: #334bf1;
		background-color: #fff;
	}
}

div.highlight pre {
	border-left: 4px solid #ccc;
	padding: 1em;
	margin: 1em;
}

#brand-holder {
	@include span(12 of 12);
	@include clearfix;

@media (min-width: 768px){
	@include span(4 of 12);
	@include clearfix; 
	}
}

#brand-title {

	@include span(12 of 12 last);
	@include clearfix; 

@media (min-width: 768px){
	@include span(8 of 12 last);
	@include clearfix; 
	margin-top: 2em;
	}
}

section#extras .blogroll {
	@include span(12 of 12);
	@include clearfix;

	@media (min-width: 768px){
		@include span(6 of 12);
	}
}

section#extras .social {
	@include span(12 of 12);
	@include clearfix;

	@media (min-width: 768px){
		@include span(6 of 12 last);
	}
}

footer#contentinfo {
	text-align: center;
	padding: 12px;
	background-color: #f3caa8;
}

a.readmore {
	display: inline-block;
	padding: 6px;
	width:auto;
	@include border-radius(4px);
	border: 1px solid #b6dce0;
}
