@import "normalize";
@import "compass";
@import "susy";
@include border-box-sizing;

$susy : (
	columns: 4,
	global-box-sizing: border-box,
	debug: (image: show),
);

body {
	font-family: Oxygen, Helvetica, Arial, sans-serif;
}

.wrap {
	@include container(1140px);
	}

.content {
@include span(3 of 4);
	margin-top: 10vh;
	height: 80vh;
	background: rgba(113, 218, 218, 0.0);
}

.sidebar {
	@include span(1 of 4 last);
	margin-top: 10vh;
	height: 40vh;
	background: rgba(250, 231, 179, 0.0);
}

h2 {
	padding: 1rem 0;
	text-align: center;
	color: #555;
}

nav { @include span(25%); }

header h1 {
	font-size: 2.8em;
	font-family: Pacifico, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
}

header h1 a {
	text-decoration: none;
}

#brand-holder {
	@include span(1 of 4);
	@include clearfix; 
}

#brand-title {
	@include span(3 of 4);
	@include clearfix; 
}