/* line 3, ../scss/style.scss */
body {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../scss/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 4, ../scss/style.scss */
nav {
  width: 25%;
  float: left;
  margin-right: 5.26316%;
}

/* line 6, ../scss/style.scss */
h1 {
  font-size: 1.8em;
}
