/* line 10, ../../../../scss/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 16, ../../../../scss/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 25, ../../../../scss/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 33, ../../../../scss/_normalize.sass */
[hidden] {
  display: none;
}

/* line 46, ../../../../scss/_normalize.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 59, ../../../../scss/_normalize.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* line 65, ../../../../scss/_normalize.sass */
body {
  margin: 0;
}

/* line 74, ../../../../scss/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 76, ../../../../scss/_normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 91, ../../../../scss/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 95, ../../../../scss/_normalize.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 99, ../../../../scss/_normalize.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 103, ../../../../scss/_normalize.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 107, ../../../../scss/_normalize.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 111, ../../../../scss/_normalize.sass */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 118, ../../../../scss/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 124, ../../../../scss/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 127, ../../../../scss/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 133, ../../../../scss/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 140, ../../../../scss/_normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 148, ../../../../scss/_normalize.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 155, ../../../../scss/_normalize.sass */
p, pre {
  margin: 1em 0;
}

/* line 161, ../../../../scss/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 169, ../../../../scss/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 177, ../../../../scss/_normalize.sass */
q {
  quotes: none;
}
/* line 179, ../../../../scss/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 189, ../../../../scss/_normalize.sass */
small {
  font-size: 80%;
}

/* line 195, ../../../../scss/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 201, ../../../../scss/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 208, ../../../../scss/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 218, ../../../../scss/_normalize.sass */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 221, ../../../../scss/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 227, ../../../../scss/_normalize.sass */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 234, ../../../../scss/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 246, ../../../../scss/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 253, ../../../../scss/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 263, ../../../../scss/_normalize.sass */
figure, form {
  margin: 0;
}

/* line 276, ../../../../scss/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 286, ../../../../scss/_normalize.sass */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 299, ../../../../scss/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 309, ../../../../scss/_normalize.sass */
button, input {
  line-height: normal;
}

/* line 318, ../../../../scss/_normalize.sass */
button, select {
  text-transform: none;
}

/* line 330, ../../../../scss/_normalize.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 336, ../../../../scss/_normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 344, ../../../../scss/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 354, ../../../../scss/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
/* line 359, ../../../../scss/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 365, ../../../../scss/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 380, ../../../../scss/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 388, ../../../../scss/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 399, ../../../../scss/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../../../scss/_pygment.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 2, ../../../../scss/_pygment.scss */
.highlight {
  background: #f8f8f8;
}

/* line 3, ../../../../scss/_pygment.scss */
.highlight .c {
  color: #8f5902;
  font-style: italic;
}

/* Comment */
/* line 4, ../../../../scss/_pygment.scss */
.highlight .err {
  color: #a40000;
  border: 1px solid #ef2929;
}

/* Error */
/* line 5, ../../../../scss/_pygment.scss */
.highlight .g {
  color: #000000;
}

/* Generic */
/* line 6, ../../../../scss/_pygment.scss */
.highlight .k {
  color: #204a87;
  font-weight: bold;
}

/* Keyword */
/* line 7, ../../../../scss/_pygment.scss */
.highlight .l {
  color: #000000;
}

/* Literal */
/* line 8, ../../../../scss/_pygment.scss */
.highlight .n {
  color: #000000;
}

/* Name */
/* line 9, ../../../../scss/_pygment.scss */
.highlight .o {
  color: #ce5c00;
  font-weight: bold;
}

/* Operator */
/* line 10, ../../../../scss/_pygment.scss */
.highlight .x {
  color: #000000;
}

/* Other */
/* line 11, ../../../../scss/_pygment.scss */
.highlight .p {
  color: #000000;
  font-weight: bold;
}

/* Punctuation */
/* line 12, ../../../../scss/_pygment.scss */
.highlight .cm {
  color: #8f5902;
  font-style: italic;
}

/* Comment.Multiline */
/* line 13, ../../../../scss/_pygment.scss */
.highlight .cp {
  color: #8f5902;
  font-style: italic;
}

/* Comment.Preproc */
/* line 14, ../../../../scss/_pygment.scss */
.highlight .c1 {
  color: #8f5902;
  font-style: italic;
}

/* Comment.Single */
/* line 15, ../../../../scss/_pygment.scss */
.highlight .cs {
  color: #8f5902;
  font-style: italic;
}

/* Comment.Special */
/* line 16, ../../../../scss/_pygment.scss */
.highlight .gd {
  color: #a40000;
}

/* Generic.Deleted */
/* line 17, ../../../../scss/_pygment.scss */
.highlight .ge {
  color: #000000;
  font-style: italic;
}

/* Generic.Emph */
/* line 18, ../../../../scss/_pygment.scss */
.highlight .gr {
  color: #ef2929;
}

/* Generic.Error */
/* line 19, ../../../../scss/_pygment.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 20, ../../../../scss/_pygment.scss */
.highlight .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 21, ../../../../scss/_pygment.scss */
.highlight .go {
  color: #000000;
  font-style: italic;
}

/* Generic.Output */
/* line 22, ../../../../scss/_pygment.scss */
.highlight .gp {
  color: #8f5902;
}

/* Generic.Prompt */
/* line 23, ../../../../scss/_pygment.scss */
.highlight .gs {
  color: #000000;
  font-weight: bold;
}

/* Generic.Strong */
/* line 24, ../../../../scss/_pygment.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 25, ../../../../scss/_pygment.scss */
.highlight .gt {
  color: #a40000;
  font-weight: bold;
}

/* Generic.Traceback */
/* line 26, ../../../../scss/_pygment.scss */
.highlight .kc {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 27, ../../../../scss/_pygment.scss */
.highlight .kd {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 28, ../../../../scss/_pygment.scss */
.highlight .kn {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 29, ../../../../scss/_pygment.scss */
.highlight .kp {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 30, ../../../../scss/_pygment.scss */
.highlight .kr {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 31, ../../../../scss/_pygment.scss */
.highlight .kt {
  color: #204a87;
  font-weight: bold;
}

/* Keyword.Type */
/* line 32, ../../../../scss/_pygment.scss */
.highlight .ld {
  color: #000000;
}

/* Literal.Date */
/* line 33, ../../../../scss/_pygment.scss */
.highlight .m {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number */
/* line 34, ../../../../scss/_pygment.scss */
.highlight .s {
  color: #4e9a06;
}

/* Literal.String */
/* line 35, ../../../../scss/_pygment.scss */
.highlight .na {
  color: #c4a000;
}

/* Name.Attribute */
/* line 36, ../../../../scss/_pygment.scss */
.highlight .nb {
  color: #204a87;
}

/* Name.Builtin */
/* line 37, ../../../../scss/_pygment.scss */
.highlight .nc {
  color: #000000;
}

/* Name.Class */
/* line 38, ../../../../scss/_pygment.scss */
.highlight .no {
  color: #000000;
}

/* Name.Constant */
/* line 39, ../../../../scss/_pygment.scss */
.highlight .nd {
  color: #5c35cc;
  font-weight: bold;
}

/* Name.Decorator */
/* line 40, ../../../../scss/_pygment.scss */
.highlight .ni {
  color: #ce5c00;
}

/* Name.Entity */
/* line 41, ../../../../scss/_pygment.scss */
.highlight .ne {
  color: #cc0000;
  font-weight: bold;
}

/* Name.Exception */
/* line 42, ../../../../scss/_pygment.scss */
.highlight .nf {
  color: #000000;
}

/* Name.Function */
/* line 43, ../../../../scss/_pygment.scss */
.highlight .nl {
  color: #f57900;
}

/* Name.Label */
/* line 44, ../../../../scss/_pygment.scss */
.highlight .nn {
  color: #000000;
}

/* Name.Namespace */
/* line 45, ../../../../scss/_pygment.scss */
.highlight .nx {
  color: #000000;
}

/* Name.Other */
/* line 46, ../../../../scss/_pygment.scss */
.highlight .py {
  color: #000000;
}

/* Name.Property */
/* line 47, ../../../../scss/_pygment.scss */
.highlight .nt {
  color: #204a87;
  font-weight: bold;
}

/* Name.Tag */
/* line 48, ../../../../scss/_pygment.scss */
.highlight .nv {
  color: #000000;
}

/* Name.Variable */
/* line 49, ../../../../scss/_pygment.scss */
.highlight .ow {
  color: #204a87;
  font-weight: bold;
}

/* Operator.Word */
/* line 50, ../../../../scss/_pygment.scss */
.highlight .w {
  color: #f8f8f8;
  text-decoration: underline;
}

/* Text.Whitespace */
/* line 51, ../../../../scss/_pygment.scss */
.highlight .mf {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 52, ../../../../scss/_pygment.scss */
.highlight .mh {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 53, ../../../../scss/_pygment.scss */
.highlight .mi {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 54, ../../../../scss/_pygment.scss */
.highlight .mo {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 55, ../../../../scss/_pygment.scss */
.highlight .sb {
  color: #4e9a06;
}

/* Literal.String.Backtick */
/* line 56, ../../../../scss/_pygment.scss */
.highlight .sc {
  color: #4e9a06;
}

/* Literal.String.Char */
/* line 57, ../../../../scss/_pygment.scss */
.highlight .sd {
  color: #8f5902;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 58, ../../../../scss/_pygment.scss */
.highlight .s2 {
  color: #4e9a06;
}

/* Literal.String.Double */
/* line 59, ../../../../scss/_pygment.scss */
.highlight .se {
  color: #4e9a06;
}

/* Literal.String.Escape */
/* line 60, ../../../../scss/_pygment.scss */
.highlight .sh {
  color: #4e9a06;
}

/* Literal.String.Heredoc */
/* line 61, ../../../../scss/_pygment.scss */
.highlight .si {
  color: #4e9a06;
}

/* Literal.String.Interpol */
/* line 62, ../../../../scss/_pygment.scss */
.highlight .sx {
  color: #4e9a06;
}

/* Literal.String.Other */
/* line 63, ../../../../scss/_pygment.scss */
.highlight .sr {
  color: #4e9a06;
}

/* Literal.String.Regex */
/* line 64, ../../../../scss/_pygment.scss */
.highlight .s1 {
  color: #4e9a06;
}

/* Literal.String.Single */
/* line 65, ../../../../scss/_pygment.scss */
.highlight .ss {
  color: #4e9a06;
}

/* Literal.String.Symbol */
/* line 66, ../../../../scss/_pygment.scss */
.highlight .bp {
  color: #3465a4;
}

/* Name.Builtin.Pseudo */
/* line 67, ../../../../scss/_pygment.scss */
.highlight .vc {
  color: #000000;
}

/* Name.Variable.Class */
/* line 68, ../../../../scss/_pygment.scss */
.highlight .vg {
  color: #000000;
}

/* Name.Variable.Global */
/* line 69, ../../../../scss/_pygment.scss */
.highlight .vi {
  color: #000000;
}

/* Name.Variable.Instance */
/* line 70, ../../../../scss/_pygment.scss */
.highlight .il {
  color: #0000cf;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* line 20, ../../../../scss/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../../../../scss/style.scss */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 26, ../../../../scss/style.scss */
body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  line-height: 160%;
  background-color: #e5f0f1;
}

/* line 32, ../../../../scss/style.scss */
.entry-content p {
  letter-spacing: .025em;
}

/* line 36, ../../../../scss/style.scss */
.wrap {
  padding: 12px;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 980px) {
  /* line 36, ../../../../scss/style.scss */
  .wrap {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../scss/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 44, ../../../../scss/style.scss */
header#banner {
  background-color: #fff;
  overflow: hidden;
  *zoom: 1;
}

/* unvisited link */
/* line 50, ../../../../scss/style.scss */
a:link {
  color: #264cf1;
}

/* visited link */
/* line 55, ../../../../scss/style.scss */
a:visited {
  color: #264cf1;
}

/* mouse over link */
/* line 60, ../../../../scss/style.scss */
a:hover {
  color: #26a5f1;
}

/* selected link */
/* line 65, ../../../../scss/style.scss */
a:active {
  color: #0000FF;
}

/* line 69, ../../../../scss/style.scss */
.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1em;
}
@media (min-width: 768px) {
  /* line 69, ../../../../scss/style.scss */
  .content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 79, ../../../../scss/style.scss */
ol#post-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 768px) {
  /* line 79, ../../../../scss/style.scss */
  ol#post-list {
    padding: 12px 1rem;
    margin: 4px 4px;
  }
}

/* line 90, ../../../../scss/style.scss */
ol#post-list li {
  margin-bottom: 1em;
}

/* line 94, ../../../../scss/style.scss */
#post-list article {
  padding: 1em;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 100, ../../../../scss/style.scss */
#post-list article {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 102, ../../../../scss/style.scss */
#post-list article a:link {
  color: #26a5f1;
}
/* line 107, ../../../../scss/style.scss */
#post-list article a:visited {
  color: #26a5f1;
}
/* line 112, ../../../../scss/style.scss */
#post-list article a:hover {
  color: #26a5f1;
}
/* line 117, ../../../../scss/style.scss */
#post-list article a:active {
  color: #0000FF;
}

/* line 122, ../../../../scss/style.scss */
h1 {
  font-size: 2.4em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 129, ../../../../scss/style.scss */
h2 {
  font-size: 2em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 136, ../../../../scss/style.scss */
h2 {
  font-size: 1.8em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 143, ../../../../scss/style.scss */
h4 {
  font-size: 1.4em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 150, ../../../../scss/style.scss */
footer.post-info {
  border-bottom: 1px solid #b6dce0;
  display: inline;
  padding: 2px;
}

/* line 156, ../../../../scss/style.scss */
abbr[title] {
  border-bottom: none;
}

/* line 162, ../../../../scss/style.scss */
header#banner h1 {
  font-size: 2.8em;
  font-family: Pacifico, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 4px;
}
/* line 170, ../../../../scss/style.scss */
header#banner h1 a {
  text-decoration: none;
}
/* line 174, ../../../../scss/style.scss */
header#banner h4 {
  font-size: 1.2em;
  color: #ad4929;
  margin: 8px 0;
  padding: 8px;
}

/* line 182, ../../../../scss/style.scss */
section.article-body {
  background-color: #fff;
  padding: 12px;
  margin: 6px;
}

/* line 190, ../../../../scss/style.scss */
nav#menu {
  background-color: #a27bfe;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 194, ../../../../scss/style.scss */
nav#menu ul {
  padding: 12px 6px;
  margin: 0 12px;
}
/* line 199, ../../../../scss/style.scss */
nav#menu ul li {
  display: inline;
}
/* line 203, ../../../../scss/style.scss */
nav#menu ul li > a {
  text-decoration: none;
  color: #fff;
  padding: 12px 9px;
  border-right: 1px solid #7d5fc3;
}
/* line 210, ../../../../scss/style.scss */
nav#menu ul li > a:hover {
  color: #334bf1;
  background-color: #fff;
}

/* line 216, ../../../../scss/style.scss */
div.highlight pre {
  border-left: 4px solid #ccc;
  padding: 1em;
  margin: 1em;
}

/* line 222, ../../../../scss/style.scss */
#brand-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 222, ../../../../scss/style.scss */
  #brand-holder {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    overflow: hidden;
    *zoom: 1;
  }
}

/* line 232, ../../../../scss/style.scss */
#brand-title {
  width: 100%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 232, ../../../../scss/style.scss */
  #brand-title {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    overflow: hidden;
    *zoom: 1;
    margin-top: 2em;
  }
}

/* line 244, ../../../../scss/style.scss */
section#extras .blogroll {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 244, ../../../../scss/style.scss */
  section#extras .blogroll {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 253, ../../../../scss/style.scss */
section#extras .social {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 253, ../../../../scss/style.scss */
  section#extras .social {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

/* line 262, ../../../../scss/style.scss */
footer#contentinfo {
  text-align: center;
  padding: 12px;
  background-color: #f3caa8;
}

/* line 268, ../../../../scss/style.scss */
a.readmore {
  display: inline-block;
  padding: 6px;
  width: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b6dce0;
}
