/* line 10, ../../../../scss/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 16, ../../../../scss/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 25, ../../../../scss/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 33, ../../../../scss/_normalize.sass */
[hidden] {
  display: none;
}

/* line 46, ../../../../scss/_normalize.sass */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/* line 59, ../../../../scss/_normalize.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* line 65, ../../../../scss/_normalize.sass */
body {
  margin: 0;
}

/* line 74, ../../../../scss/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 76, ../../../../scss/_normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 91, ../../../../scss/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 95, ../../../../scss/_normalize.sass */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 99, ../../../../scss/_normalize.sass */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 103, ../../../../scss/_normalize.sass */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 107, ../../../../scss/_normalize.sass */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 111, ../../../../scss/_normalize.sass */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 118, ../../../../scss/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 124, ../../../../scss/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 127, ../../../../scss/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 133, ../../../../scss/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 140, ../../../../scss/_normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 148, ../../../../scss/_normalize.sass */
mark {
  background: #ff0;
  color: #000;
}

/* line 155, ../../../../scss/_normalize.sass */
p, pre {
  margin: 1em 0;
}

/* line 161, ../../../../scss/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 169, ../../../../scss/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 177, ../../../../scss/_normalize.sass */
q {
  quotes: none;
}
/* line 179, ../../../../scss/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 189, ../../../../scss/_normalize.sass */
small {
  font-size: 80%;
}

/* line 195, ../../../../scss/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 201, ../../../../scss/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 208, ../../../../scss/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 218, ../../../../scss/_normalize.sass */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 221, ../../../../scss/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 227, ../../../../scss/_normalize.sass */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 234, ../../../../scss/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 246, ../../../../scss/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 253, ../../../../scss/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 263, ../../../../scss/_normalize.sass */
figure, form {
  margin: 0;
}

/* line 276, ../../../../scss/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 286, ../../../../scss/_normalize.sass */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 299, ../../../../scss/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 309, ../../../../scss/_normalize.sass */
button, input {
  line-height: normal;
}

/* line 318, ../../../../scss/_normalize.sass */
button, select {
  text-transform: none;
}

/* line 330, ../../../../scss/_normalize.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 336, ../../../../scss/_normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 344, ../../../../scss/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 354, ../../../../scss/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
/* line 359, ../../../../scss/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 365, ../../../../scss/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 380, ../../../../scss/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 388, ../../../../scss/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 399, ../../../../scss/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 20, ../../../../scss/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../../../scss/style.scss */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 25, ../../../../scss/style.scss */
body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  background-color: #e5f0f1;
}

/* line 30, ../../../../scss/style.scss */
.wrap {
  padding: 12px;
}
@media (min-width: 980px) {
  /* line 30, ../../../../scss/style.scss */
  .wrap {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../scss/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 37, ../../../../scss/style.scss */
header#banner {
  overflow: hidden;
  *zoom: 1;
}

/* unvisited link */
/* line 42, ../../../../scss/style.scss */
a:link {
  color: #264cf1;
}

/* visited link */
/* line 47, ../../../../scss/style.scss */
a:visited {
  color: #264cf1;
}

/* mouse over link */
/* line 52, ../../../../scss/style.scss */
a:hover {
  color: #26a5f1;
}

/* selected link */
/* line 57, ../../../../scss/style.scss */
a:active {
  color: #0000FF;
}

/* line 61, ../../../../scss/style.scss */
.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 1em;
}
@media (min-width: 768px) {
  /* line 61, ../../../../scss/style.scss */
  .content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 71, ../../../../scss/style.scss */
ol#post-list {
  list-style: none;
  padding: 12px 1rem;
  margin: 4px 4px;
}

/* line 77, ../../../../scss/style.scss */
ol#post-list li {
  margin-bottom: .5em;
}

/* line 81, ../../../../scss/style.scss */
#post-list article {
  padding: 1em;
  background-color: #fff;
}

/* line 86, ../../../../scss/style.scss */
#post-list article {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 88, ../../../../scss/style.scss */
#post-list article a:link {
  color: #26a5f1;
}
/* line 93, ../../../../scss/style.scss */
#post-list article a:visited {
  color: #26a5f1;
}
/* line 98, ../../../../scss/style.scss */
#post-list article a:hover {
  color: #26a5f1;
}
/* line 103, ../../../../scss/style.scss */
#post-list article a:active {
  color: #0000FF;
}

/* line 108, ../../../../scss/style.scss */
h1 {
  font-size: 2.4em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 115, ../../../../scss/style.scss */
h2 {
  font-size: 2em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 122, ../../../../scss/style.scss */
h2 {
  font-size: 1.8em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 129, ../../../../scss/style.scss */
h4 {
  font-size: 1.4em;
  padding: 12px 0;
  color: #000;
  margin: 4px;
}

/* line 136, ../../../../scss/style.scss */
footer.post-info {
  background-color: #ebe0d1;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 768px) {
  /* line 136, ../../../../scss/style.scss */
  footer.post-info {
    float: right;
    margin-right: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
}

/* line 149, ../../../../scss/style.scss */
abbr[title] {
  border-bottom: none;
}

/* line 153, ../../../../scss/style.scss */
header#banner h1 {
  font-size: 2.8em;
  font-family: Pacifico, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 4px;
}

/* line 161, ../../../../scss/style.scss */
header h1 a {
  text-decoration: none;
}

/* line 165, ../../../../scss/style.scss */
header#banner h4 {
  font-size: 1.2em;
  color: #ad4929;
}

/* line 170, ../../../../scss/style.scss */
section.article-body {
  background-color: #fff;
  padding: 12px;
}

/* line 175, ../../../../scss/style.scss */
nav#menu {
  background-color: #ebe0d1;
  margin: 1em .5em .5em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 182, ../../../../scss/style.scss */
nav#menu ul {
  padding: 12px 6px;
  margin: 0 12px;
}

/* line 187, ../../../../scss/style.scss */
nav#menu ul li {
  padding: 12px 6px;
  display: inline;
}

/* line 192, ../../../../scss/style.scss */
#brand-holder {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 192, ../../../../scss/style.scss */
  #brand-holder {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    overflow: hidden;
    *zoom: 1;
  }
}

/* line 202, ../../../../scss/style.scss */
#brand-title {
  width: 100%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 202, ../../../../scss/style.scss */
  #brand-title {
    width: 74.57627%;
    float: right;
    margin-right: 0;
    overflow: hidden;
    *zoom: 1;
  }
}

/* line 213, ../../../../scss/style.scss */
section#extras .blogroll {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 213, ../../../../scss/style.scss */
  section#extras .blogroll {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 222, ../../../../scss/style.scss */
section#extras .social {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 222, ../../../../scss/style.scss */
  section#extras .social {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}
